<% title _("Deploy Application Instance #{@app_instance}") %>

<% content_for(:javascripts) do %>
  <%= webpacked_plugins_js_for :foreman_acd %>
<% end %>
<% content_for(:stylesheets) do %>
  <%= webpacked_plugins_css_for :foreman_acd %>
<% end %>

<%
  json = {
    "hosts": @deploy_hosts
  }
%>

<div id='report'></div>
  <%=  mount_react_component('ApplicationInstanceDeploy', "#report", json.to_json) %>
</div
