<% title _("Provisioning details for application instance #{@app_instance}") %>

<% content_for(:javascripts) do %>
  <%= webpacked_plugins_js_for :foreman_acd %>
<% end %>
<% content_for(:stylesheets) do %>
  <%= webpacked_plugins_css_for :foreman_acd %>
<% end %>

<%
  json = {
    "mode": 'lastReport',
    "appInstanceName": @app_instance.name,
    "hosts": @report_hosts,
    "deployTaskUrl": foreman_tasks_task_path(@app_instance.last_deploy_task),
    "configureJobUrl": job_invocations_path(search: "description ~ \"ACD application #{@app_instance.name}\"")
  }
%>

<div id='report'></div>
  <%=  react_component('ApplicationInstanceReport', :data => json) %>
</div
