@import '~@theforeman/vendor/scss/variables';

.param_selection_modal {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 80%;
    max-width: none !important;
}

.complex_data_modal {
    margin-top: 0;
    margin-bottom: 0;
    height: 80%;
    width: 40%;
    max-width: none !important;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

