<%= webpacked_plugins_js_for :foreman_appcendep %>

<% title _('New Application Definition') %>

<%= render :partial => 'form' %>

<%
    json = {
      "parameters": [
        {
          "id": 0,
          "name": 'hostname',
          "description": 'The name of the host',
          "type": 'hostname',
          "value": 'newhost',
        },
        {
          "id": 1,
          "name": 'puppet environment',
          "description": 'Puppet environment',
          "type": 'puppetenv',
          "value": 'production',
        },
        {
          "id": 2,
          "name": 'lifecycle environment',
          "description": 'Lifecycle Environment',
          "type": 'lifecycleenv',
          "value": 'production',
        },
        {
          "id": 3,
          "name": 'Root Password',
          "description": 'The Root password of the host',
          "type": 'password',
          "value": 'changeme',
        },
      ],
      "definition": true,
      "puppetEnvUrl": api_environments_path,
      "lifecycleEnvUrl": api_environments_path,
      "lifecycleEnvOrganization": 'ATIX',
    }
%>

<div id='param-selection-2324234123'></div>
<%=  mount_react_component('ParameterSelection', "#param-selection-2324234123", json.to_json) %>
